@tailwind base;
@tailwind components;
@tailwind utilities;

/* 👇 Tus clases personalizadas */
.perspective {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

/* 👇 Scrollbar oculto por defecto, visible en hover */
.scrollbar-hide::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.scrollbar-default::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-default::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
